<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.example.CommonTest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 获取网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
                     tools:ignore="ProtectedPermissions" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name="com.example.CommonTest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".messageService.MessageServiceActivity"/>
        <activity android:name=".animation.AnimationActivity"/>
        <activity android:name=".sqllite.SqlLiteActivity"/>
        <activity android:name=".fragment.FragmentActivity"/>
        <activity android:name=".video.VideoActivity"/>
        <activity android:name=".handler.HandlerActivity"/>
        <activity android:name=".asyncTask.AsyncTaskActivity"/>
        <activity android:name=".qiniu.ImgActivity"/>
        <activity android:name=".remind.newRemindActivity"/>
        <activity android:name=".service.ServiceActivity"/>
        <activity android:name=".remind.RemindActivity"/>
        <activity android:name=".alarmClock.alarmActivity"/>
        <activity android:name=".fileDownload.FileDownLoad"/>
        <activity android:name=".CrawingNews.CrawingNewsActivity"/>
        <activity android:name=".service.BindActivity"/>
        <activity android:name=".User.UserDataActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <service android:name="com.example.CommonTest.service.MyService">
<!--            <intent-filter>-->
<!--                <action android:name="com.example.uploadingimages" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
        </service>
        <service android:name="com.example.CommonTest.service.StartServiceTest" />
        <service android:name="com.example.CommonTest.service.BindServiceTest" />

        <service android:name="com.example.CommonTest.service.messageService"
                 android:process=":remote"/>
        <service android:name=".remind.AlarmService"
                 android:process=":live">
            <intent-filter>
                <action
                        android:name="com.example.lulin.todolist.Service.AlarmService"/>
            </intent-filter>
        </service>
        <receiver
                android:name=".remind.AlarmReceiver"
                android:enabled="true"
                android:exported="true"
                android:process=":remote" />




        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.labProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".contentProvider.contentProvider"
            android:authorities="com.example.contentProvider"
            android:exported="true"
            android:enabled="true">
        </provider>
        <service
            android:name=".alarmClock.AlarmService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jz.alarmsample.alarm" />
            </intent-filter>
        </service>
        <activity android:name=".Search.searchActivity"/>
        <activity android:name=".BroadCast.BroadCastTestActivity"/>


<!--        <receiver-->
<!--            android:name=".BroadCast.BootCompleteReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <receiver
            android:name=".BroadCast.MyBroadcastReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="MYBROAD"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".alarmClock.RepeatingAlarm">
            <intent-filter >
                <action android:name="com.gcc.alarm"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>